@using ArticlesForum.Web.Models.Articles
@using ArticlesForum.Web.Models.Comments
@model ArticleDetailsViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-3">
        <h4><strong>Category: </strong>@Model.CategoryName</h4>
    </div>
    <div class="col-md-3">
        <h4><strong>Author: </strong>@Model.AuthorName</h4>
    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            @if (Model.ImageId != null)
            {
                <img src="@Url.Action("Image", "Articles", new { id = Model.ImageId.Value })" alt="@Model.Title" class="img-responsive" />
            }
        </div>
        <div class="col-md-9" style="word-break:break-all">@Model.Content</div>
    </div>
</div>

@if(User.Identity.IsAuthenticated)
{
   @Html.Partial("_PostCommentPartial", new PostCommentModel(Model.Id))
}

<h4><strong>Comments:</strong></h4>

<div id="comments">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
}